mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #9fa6c6;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.menu-button {
  color: black;
  text-shadow: #707488 1px 1px 2px;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 15px;
  margin: 16px;
  margin-left: 3%;
  margin-right: 3%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: #a6a2c3;
  text-shadow: rgb(49, 49, 49) 1px 1px 2px;

  background-color: #e0e0eb;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.navbar {
  margin: 0px;
}

.navbar-container {
  margin-left: 3%;
  margin-right: 3%;
}

.menu-button-mode {
  color: white;
  text-shadow: #707488 1px 1px 2px;
  position: relative;
  top: 57%;
  text-align: center;
}

.mat-icon-button {
  font-size: 20%;
}
